@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Fuzzy+Bubbles&family=Playfair+Display&family=Poppins:ital,wght@1,300&family=Quicksand:wght@400&display=swap");
.flex_aCenter, .index .header__index, .index main .contenedor-index, .index main .contenedor-index .contenedorCard .tarjeta .descripcion, .index main .contenedor-index .btn-index a:before, .index main .contenedor-index .btn-index a:after, .contenedor, .contenedor .cajaSeccion .cajaContenido .contenedor__texto--derecha,
.contenedor .cajaSeccion .cajaContenido .contenedor__texto--izquierda, .contenedor .premios .item, .contacto main .contenedorContacto {
  display: flex;
  align-items: center;
  justify-content: center; }

.grid_center, .index main .contenedor-index .contenedorCard, .contenedor .premios .nacionales, .contenedor .premios .internacionales, .contenedor .premios .individuales {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(4, 1fr); }

.titulo_principal, .contenedor .titulo__principal, .contacto main .contenedorContacto .titulo__principal {
  font-size: 4rem;
  font-family: "Bakbak One", cursive;
  width: 100%;
  margin: 15px 0; }

.textos, .contenedor .cajaSeccion .cajaContenido .texto__intro, .contenedor .cajaSeccion .cajaContenido .contenedor__texto--derecha p,
.contenedor .cajaSeccion .cajaContenido .contenedor__texto--izquierda p {
  font-size: 1.2rem;
  font-family: "Quicksand", sans-serif;
  line-height: 1.3;
  padding: 0 10px;
  margin: 0 auto; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

h1, h2, h3, h4 {
  text-align: center; }

/* Scroll Up */
.up {
  position: fixed;
  bottom: 45px;
  right: -70px;
  cursor: pointer;
  transition: all 0.3s ease-out; }
  .up i {
    font-size: 35px;
    color: rgba(0, 0, 0, 0.212);
    transition: all 0.5; }
    .up i:hover {
      transform: scale(1.2);
      transition: all .5s;
      color: #000; }
  .up.show {
    right: 5px; }

/* Body Index*/
.index {
  background-image: url(../img/0.0-fondoIndex.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* Header Index */
  /* Cuerpo Index */ }
  .index .header__index {
    justify-content: space-between; }
    .index .header__index .imgLogo-index {
      width: 50px;
      position: relative;
      left: 8%;
      padding-top: 4px; }
    .index .header__index h1 {
      font-size: 3rem;
      font-family: "Playfair Display", serif;
      text-align: right;
      padding-right: 20px; }
  .index main {
    height: 100%; }
    .index main .contenedor-index {
      width: 100%;
      flex-direction: column;
      height: 100%;
      /* Botón Index */ }
      .index main .contenedor-index .contenedorCard {
        width: 100%;
        height: 80vh;
        grid-template-columns: repeat(2, 1fr);
        /* Card */ }
        .index main .contenedor-index .contenedorCard .tarjeta {
          width: 80%;
          height: 90%;
          margin: auto;
          position: relative;
          background: rgba(255, 255, 255, 0.363);
          overflow: hidden;
          box-shadow: 2px 4px 10px #000;
          /*  Efectos card */
          /* Descripción card*/ }
          .index main .contenedor-index .contenedorCard .tarjeta h2 {
            position: absolute;
            top: 0;
            right: 0;
            text-align: end;
            margin: 0 10px;
            font-family: "Poppins", sans-serif;
            font-size: 2rem;
            z-index: 3;
            color: #fff; }
          .index main .contenedor-index .contenedorCard .tarjeta img {
            width: 100%;
            vertical-align: top;
            opacity: 0; }
          .index main .contenedor-index .contenedorCard .tarjeta .over_pic {
            width: 50%;
            height: 50%;
            position: absolute;
            background-size: 200% 200%;
            transition: all 0.7s ease-out;
            z-index: 2; }
            .index main .contenedor-index .contenedorCard .tarjeta .over_pic:nth-of-type(1) {
              left: 0;
              top: 0;
              background-position: left top; }
            .index main .contenedor-index .contenedorCard .tarjeta .over_pic:nth-of-type(2) {
              right: 0;
              top: 0;
              background-position: right top; }
            .index main .contenedor-index .contenedorCard .tarjeta .over_pic:nth-of-type(3) {
              left: 0;
              bottom: 0;
              background-position: left bottom; }
            .index main .contenedor-index .contenedorCard .tarjeta .over_pic:nth-of-type(4) {
              right: 0;
              bottom: 0;
              background-position: right bottom; }
          .index main .contenedor-index .contenedorCard .tarjeta:hover h2 {
            display: none; }
          .index main .contenedor-index .contenedorCard .tarjeta:hover .over_pic:nth-of-type(1) {
            transform: translate(-100%, -100%); }
          .index main .contenedor-index .contenedorCard .tarjeta:hover .over_pic:nth-of-type(2) {
            transform: translate(100%, -100%); }
          .index main .contenedor-index .contenedorCard .tarjeta:hover .over_pic:nth-of-type(3) {
            transform: translate(-100%, 100%); }
          .index main .contenedor-index .contenedorCard .tarjeta:hover .over_pic:nth-of-type(4) {
            transform: translate(100%, 100%); }
          .index main .contenedor-index .contenedorCard .tarjeta .pic1 {
            background-image: url(../img/1.0-comienzos_index.jpg); }
          .index main .contenedor-index .contenedorCard .tarjeta .pic2 {
            background-image: url(../img/2.0-club_index.jpg); }
          .index main .contenedor-index .contenedorCard .tarjeta .pic3 {
            background-image: url(../img/3.0-seleccion_index.jpg); }
          .index main .contenedor-index .contenedorCard .tarjeta .pic4 {
            background-image: url(../img/4.0-palmares_index.jpg); }
          .index main .contenedor-index .contenedorCard .tarjeta .descripcion {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            align-content: center;
            flex-wrap: wrap;
            transition: all 0.7s ease-out;
            transform: scale(0.6);
            opacity: 0;
            text-decoration: none;
            color: #000; }
            .index main .contenedor-index .contenedorCard .tarjeta .descripcion h3 {
              font-size: 3rem;
              font-family: "Poppins", sans-serif; }
            .index main .contenedor-index .contenedorCard .tarjeta .descripcion p {
              font-size: 1.2rem;
              font-family: "Quicksand", sans-serif;
              color: #000;
              text-align: center;
              line-height: 1.3;
              padding: 10px;
              font-weight: bold; }
          .index main .contenedor-index .contenedorCard .tarjeta:hover .descripcion {
            opacity: 1;
            transform: scale(1); }
      .index main .contenedor-index .btn-index {
        width: 140px;
        height: 30px;
        position: relative;
        display: inline-flex;
        perspective: 1000px; }
        .index main .contenedor-index .btn-index a {
          font-size: 1.2rem;
          transform-style: preserve-3d;
          transition: transform 0.25s;
          transform: translateZ(-25px);
          color: transparent; }
          .index main .contenedor-index .btn-index a:before, .index main .contenedor-index .btn-index a:after {
            width: 140px;
            height: 30px;
            position: absolute;
            content: "Contacto";
            box-sizing: border-box;
            border: 2px solid #000;
            border-radius: 20px; }
          .index main .contenedor-index .btn-index a:before {
            color: #fff;
            background: #000;
            transform: rotateY(0) translateZ(15px); }
          .index main .contenedor-index .btn-index a:after {
            color: #000;
            transform: rotateX(90deg) translateZ(15px); }
          .index main .contenedor-index .btn-index a:hover {
            transform: translateZ(-15px) rotateX(-90deg); }

/*Header*/
.banderaHeader {
  background: linear-gradient(to bottom, #00aae4, #6fb7ed, #a0c5f3, #e2e5fa, #e2e5fa, #a0c5f3, #6fb7ed, #00aae4); }
  .banderaHeader .navbar-toggler {
    border-color: #000; }
    .banderaHeader .navbar-toggler .navbar-toggler-icon {
      filter: invert(1); }
  .banderaHeader .collapse .navbar-nav .nav-link {
    width: 130px;
    font-size: 1.2rem;
    font-weight: 600; }
    .banderaHeader .collapse .navbar-nav .nav-link:hover {
      background-color: #68696931;
      border-radius: 5px; }
  .banderaHeader .collapse .navbar-nav .active {
    background-color: #0a9dce4b;
    border: 1px solid rgba(0, 0, 0, 0.144);
    border-radius: 5px; }
  .banderaHeader .imgLogo {
    width: 45px;
    margin-left: 50px; }

/* Cuerpo de la web */
.contenedor {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between; }
  .contenedor .cajaSeccion {
    width: 95%;
    margin: 10px auto; }
    .contenedor .cajaSeccion .titulo__contenido {
      font-size: 3rem;
      font-family: "Playfair Display", serif;
      margin-bottom: 20px;
      text-decoration: underline; }
    .contenedor .cajaSeccion .cajaContenido {
      width: 100%; }
      .contenedor .cajaSeccion .cajaContenido .tituloSeccion {
        font-size: 2.3rem;
        font-family: "Poppins", sans-serif;
        width: 100%;
        margin: 30px 0; }
      .contenedor .cajaSeccion .cajaContenido .contenedor__texto--derecha,
      .contenedor .cajaSeccion .cajaContenido .contenedor__texto--izquierda {
        flex-flow: row wrap;
        padding: 0 5px; }
        .contenedor .cajaSeccion .cajaContenido .contenedor__texto--derecha .texto__contenido,
        .contenedor .cajaSeccion .cajaContenido .contenedor__texto--izquierda .texto__contenido {
          width: 50%; }
        .contenedor .cajaSeccion .cajaContenido .contenedor__texto--derecha p cite,
        .contenedor .cajaSeccion .cajaContenido .contenedor__texto--izquierda p cite {
          color: #5f5c5c; }
        .contenedor .cajaSeccion .cajaContenido .contenedor__texto--derecha img,
        .contenedor .cajaSeccion .cajaContenido .contenedor__texto--izquierda img {
          margin: 10px 0; }
        .contenedor .cajaSeccion .cajaContenido .contenedor__texto--derecha iframe,
        .contenedor .cajaSeccion .cajaContenido .contenedor__texto--izquierda iframe {
          margin: 10px 0;
          height: 400px; }
      .contenedor .cajaSeccion .cajaContenido .contenedor__texto--derecha .img__contenido--izquierdo {
        order: -1;
        width: 50%;
        padding: 0 5px; }
      .contenedor .cajaSeccion .cajaContenido .contenedor__texto--izquierda .img__contenido--derecho {
        width: 50%;
        padding: 5px 5px; }

/* Estructura principal del Grid */
.contenedor {
  /* Tablas Grid*/ }
  .contenedor .titulo__contenido {
    font-size: 3rem;
    font-family: "Playfair Display", serif;
    margin-bottom: 20px;
    text-decoration: underline; }
  .contenedor .premios {
    width: 90%;
    margin: 15px auto; }
    .contenedor .premios .encabezado {
      border: solid 2px #000; }
      .contenedor .premios .encabezado h3 {
        font-size: 1.8rem;
        font-family: "Permanent Marker", cursive;
        margin: 5px;
        font-weight: 600; }
    .contenedor .premios .item {
      border: solid 2px #000; }
      .contenedor .premios .item p {
        font-size: 1.4rem;
        margin: 5px; }
    .contenedor .premios .nacionales .fondoNac {
      background-color: #000080;
      color: #fff; }
    .contenedor .premios .nacionales .equipo {
      grid-column: 2;
      grid-row: 2/27; }
    .contenedor .premios .nacionales .pais {
      grid-column: 3;
      grid-row: 2/27; }
      .contenedor .premios .nacionales .pais .iconoBandera {
        text-align: left;
        width: 20%;
        margin: 5px 10px 5px 25px; }
    .contenedor .premios .internacionales .fondoInter {
      background-color: #ffab4c;
      color: #000; }
    .contenedor .premios .internacionales .equipo {
      grid-column: 2;
      grid-row: 5/14; }
    .contenedor .premios .internacionales .sede {
      display: flex;
      justify-content: flex-start; }
      .contenedor .premios .internacionales .sede .iconoBandera {
        text-align: left;
        width: 20%;
        margin: 5px 10px 5px 25px; }
    .contenedor .premios .individuales {
      grid-template-columns: repeat(2, 1fr); }
      .contenedor .premios .individuales .fondoInd {
        background-color: #b2ea70;
        color: #000; }
      .contenedor .premios .individuales .x2:nth-of-type(3) {
        grid-row: 2/4; }
      .contenedor .premios .individuales .x2:nth-of-type(6) {
        grid-row: 4/6; }
      .contenedor .premios .individuales .x2:nth-of-type(9) {
        grid-row: 6/8; }
      .contenedor .premios .individuales .x2:nth-of-type(12) {
        grid-row: 8/10; }
      .contenedor .premios .individuales .x2:nth-of-type(31) {
        grid-row: 20/22; }
      .contenedor .premios .individuales .x3:nth-of-type(19) {
        grid-row: 12/15; }
      .contenedor .premios .individuales .x3:nth-of-type(27) {
        grid-row: 17/20; }
      .contenedor .premios .individuales .x3:nth-of-type(34) {
        grid-row: 22/25; }

/* Contacto */
.contacto {
  height: 100vh; }
  .contacto main .contenedorContacto {
    flex-direction: column;
    width: 100%; }
    .contacto main .contenedorContacto .introForm {
      width: 95%;
      margin: 0 auto; }
      .contacto main .contenedorContacto .introForm .txtContacto {
        font-size: 1.2rem;
        font-family: "Quicksand", sans-serif;
        width: 100%;
        padding: 0 5px;
        line-height: 1.3; }
    .contacto main .contenedorContacto .formContacto {
      width: 70%;
      margin: 0 auto; }
      .contacto main .contenedorContacto .formContacto .btn-form {
        width: 30%;
        margin: 10px 0; }

/* Footer index */
.footer-index p {
  font-size: 1.1rem;
  text-align: center;
  color: #000;
  font-weight: bold; }

/* Footer resto de la web */
.footer {
  background: #000;
  padding: 1px 0; }
  .footer p {
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
    margin: 2px 0; }

@media screen and (max-width: 690px) {
  /*    INDEX    */
  .index {
    height: 100%;
    /* Header Index*/
    /* Cuerpo Index */ }
    .index .header__index {
      margin-bottom: 10px; }
      .index .header__index .imgLogo-index {
        left: 5%;
        width: 55px; }
      .index .header__index h1 {
        width: 70%;
        font-size: 1.8rem;
        padding-right: 10px; }
    .index main .contenedor-index {
      /* Botón Index*/ }
      .index main .contenedor-index .contenedorCard {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 100%; }
        .index main .contenedor-index .contenedorCard .tarjeta {
          width: 100%;
          margin-bottom: 15px;
          min-height: 170px; }
          .index main .contenedor-index .contenedorCard .tarjeta h2 {
            width: 100%;
            font-size: 1.5rem; }
          .index main .contenedor-index .contenedorCard .tarjeta .descripcion {
            padding: 0 5px; }
            .index main .contenedor-index .contenedorCard .tarjeta .descripcion h3 {
              font-size: 1.5rem;
              margin-top: 5px; }
            .index main .contenedor-index .contenedorCard .tarjeta .descripcion p {
              font-size: 1rem;
              line-height: 1.3; }
      .index main .contenedor-index .btn-index {
        margin-bottom: 5px; }
  /*    CARRERA     */
  /* Header*/
  .collapse .navbar-nav .nav-link {
    margin: auto; }
  .banderaHeader .imgLogo {
    width: 50px;
    margin-left: 10px; }
  /* Cuerpo de la web*/
  .contenedor .titulo__principal {
    font-size: 3rem; }
  .contenedor .cajaSeccion .titulo__contenido {
    font-size: 2.5rem; }
  .contenedor .cajaSeccion .cajaContenido .tituloSeccion {
    font-size: 1.8rem; }
  .contenedor .cajaSeccion .cajaContenido .texto__intro {
    font-size: 1.2rem;
    width: 95%; }
  .contenedor .cajaSeccion .cajaContenido .contenedor__texto--derecha,
  .contenedor .cajaSeccion .cajaContenido .contenedor__texto--izquierda {
    flex-direction: column; }
    .contenedor .cajaSeccion .cajaContenido .contenedor__texto--derecha .texto__contenido,
    .contenedor .cajaSeccion .cajaContenido .contenedor__texto--izquierda .texto__contenido {
      width: 100%;
      padding: 0; }
    .contenedor .cajaSeccion .cajaContenido .contenedor__texto--derecha p,
    .contenedor .cajaSeccion .cajaContenido .contenedor__texto--izquierda p {
      font-size: 1.2rem;
      width: 95%; }
  .contenedor .cajaSeccion .cajaContenido .contenedor__texto--derecha .img__contenido--izquierdo {
    order: 0;
    width: 90%;
    padding: 10px 0; }
  .contenedor .cajaSeccion .cajaContenido .contenedor__texto--izquierda .img__contenido--derecho {
    width: 90%;
    padding: 10px 0; }
  /*    PALMARES      */
  /* Estructura grid */
  .contenedor .premios {
    padding: 0 10px;
    /* Encabezado Grid */
    /* Tablas Grid*/
    /* Iconos palmarés*/ }
    .contenedor .premios .encabezado h3 {
      font-size: 1.3rem; }
    .contenedor .premios .item {
      flex-direction: column; }
      .contenedor .premios .item p {
        font-size: 1rem;
        margin: 0; }
    .contenedor .premios .nacionales .pais {
      display: flex;
      flex-direction: column; }
      .contenedor .premios .nacionales .pais .iconoBandera {
        width: 40%;
        margin: 10px auto; }
    .contenedor .premios .internacionales .sede {
      display: flex;
      flex-direction: column; }
      .contenedor .premios .internacionales .sede .iconoBandera {
        width: 40%;
        margin: 10px auto; }
  /*  CONTACTO   */
  .contacto main .contenedorContacto {
    height: 100%; }
    .contacto main .contenedorContacto .formContacto {
      width: 90%; }
      .contacto main .contenedorContacto .formContacto .btn-form {
        width: 70%; } }

@media screen and (min-width: 691px) and (max-width: 991px) {
  /*    INDEX    */
  .index {
    /* Header Index*/
    /* Cuerpo Index */
    /* Footer index */ }
    .index .header__index .imgLogo-index {
      width: 70px; }
    .index .header__index h1 {
      font-size: 4rem;
      padding-right: 10px; }
    .index main .contenedor-index .contenedorCard {
      height: 90%; }
      .index main .contenedor-index .contenedorCard .tarjeta {
        width: 95%;
        height: 85%; }
        .index main .contenedor-index .contenedorCard .tarjeta h2 {
          width: 50%;
          font-size: 1.8rem; }
        .index main .contenedor-index .contenedorCard .tarjeta .descripcion {
          padding: 0 5px; }
          .index main .contenedor-index .contenedorCard .tarjeta .descripcion h3 {
            font-size: 2rem; }
          .index main .contenedor-index .contenedorCard .tarjeta .descripcion p {
            font-size: 1rem;
            line-height: 1.3; }
    .index .footer-index p {
      font-size: 1.4rem; }
  /*    CARRERA     */
  /* Header*/
  .header .navbar .navbar-toggler {
    font-size: 2.2rem; }
  .header .navbar .collapse .navbar-nav .nav-link {
    width: 100%;
    margin: auto;
    font-size: 2.2rem; }
  .header .navbar .imgLogo {
    width: 75px;
    margin-left: 20px; }
  /* Contenido */
  .contenedor .cajaSeccion .cajaContenido .contenedor__texto--derecha,
  .contenedor .cajaSeccion .cajaContenido .contenedor__texto--izquierda {
    flex-direction: column; }
    .contenedor .cajaSeccion .cajaContenido .contenedor__texto--derecha .texto__contenido,
    .contenedor .cajaSeccion .cajaContenido .contenedor__texto--izquierda .texto__contenido {
      width: 100%; }
  .contenedor .cajaSeccion .cajaContenido .contenedor__texto--derecha .img__contenido--izquierdo {
    order: 0;
    width: 95%;
    padding: 10px 0; }
  .contenedor .cajaSeccion .cajaContenido .contenedor__texto--izquierda .img__contenido--derecho {
    width: 95%;
    padding: 10px 0; }
  /*    PALMARES      */
  /* Estructura grid */
  .contenedor .premios {
    width: 90%; }
    .contenedor .premios .nacionales .pais {
      display: flex;
      flex-direction: column; }
      .contenedor .premios .nacionales .pais .iconoBandera {
        width: 40%;
        margin: 10px auto; }
    .contenedor .premios .internacionales .sede {
      display: flex;
      flex-direction: column; }
      .contenedor .premios .internacionales .sede .iconoBandera {
        width: 40%;
        margin: 10px auto; }
  /*  CONTACTO   */
  .contacto main {
    min-height: 100%; }
    .contacto main .contenedorContacto {
      height: 90%; }
      .contacto main .contenedorContacto .introForm .txtContacto {
        font-size: 1.4rem;
        padding: 50px 0; }
      .contacto main .contenedorContacto .formContacto {
        width: 90%;
        padding-top: 70px; }
        .contacto main .contenedorContacto .formContacto label,
        .contacto main .contenedorContacto .formContacto input,
        .contacto main .contenedorContacto .formContacto select,
        .contacto main .contenedorContacto .formContacto textarea,
        .contacto main .contenedorContacto .formContacto button {
          font-size: 1.4rem; }
        .contacto main .contenedorContacto .formContacto .btn-form {
          width: 70%; }
  .footer p {
    font-size: 1.4rem; } }

@media screen and (min-width: 992px) {
  /*  CONTACTO   */
  .contacto main {
    min-height: 100%; }
    .contacto main .contenedorContacto .introForm .txtContacto {
      font-size: 1.4rem;
      padding: 50px 0; }
    .contacto main .contenedorContacto .formContacto {
      width: 90%;
      padding-top: 50px; }
      .contacto main .contenedorContacto .formContacto label,
      .contacto main .contenedorContacto .formContacto input,
      .contacto main .contenedorContacto .formContacto select,
      .contacto main .contenedorContacto .formContacto textarea,
      .contacto main .contenedorContacto .formContacto button {
        font-size: 1.4rem; }
      .contacto main .contenedorContacto .formContacto .btn-form {
        width: 70%; } }

@media screen and (min-width: 1400px) {
  /*    INDEX    */
  .index {
    /* Header Index*/
    /* Cuerpo Index */
    /* Footer index */ }
    .index .header__index .imgLogo-index {
      width: 80px; }
    .index .header__index h1 {
      font-size: 5rem;
      padding-right: 10px; }
    .index main .contenedor-index {
      /* Botón Index*/ }
      .index main .contenedor-index .contenedorCard {
        height: 90%; }
        .index main .contenedor-index .contenedorCard .tarjeta h2 {
          font-size: 3rem; }
        .index main .contenedor-index .contenedorCard .tarjeta .descripcion {
          padding: 0 5px; }
          .index main .contenedor-index .contenedorCard .tarjeta .descripcion h3 {
            font-size: 3rem; }
          .index main .contenedor-index .contenedorCard .tarjeta .descripcion p {
            font-size: 1.5rem;
            line-height: 1.3; }
      .index main .contenedor-index .btn-index {
        height: 5%; }
        .index main .contenedor-index .btn-index a:before, .index main .contenedor-index .btn-index a:after {
          width: 175px;
          height: 50px;
          font-size: 1.7rem; }
    .index .footer-index p {
      font-size: 1.4rem; }
  /*    CARRERA     */
  /* Header*/
  .header .navbar .navbar-toggler {
    font-size: 2.2rem; }
  .header .navbar .collapse .navbar-nav .nav-link {
    width: 150px;
    font-size: 1.7rem; }
  .header .navbar .imgLogo {
    width: 75px; }
  /* Contenido */
  .contenedor .cajaSeccion .cajaContenido .contenedor__texto--derecha p,
  .contenedor .cajaSeccion .cajaContenido .contenedor__texto--izquierda p {
    font-size: 1.3rem; } }
