@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Fuzzy+Bubbles&family=Playfair+Display&family=Poppins:ital,wght@1,300&family=Quicksand:wght@400&display=swap");
.flex_aCenter, .index .header__index, .index .contenedor-index, .index .contenedor-index .contenedorCard .tarjeta .descripcion, .index .contenedor-index .btn-index a:before, .index .contenedor-index .btn-index a:after, .contenedor, .contenedor .cajaSeccion .cajaContenido .contenedor__texto--derecha,
.contenedor .cajaSeccion .cajaContenido .contenedor__texto--izquierda, .contenedor .premios .item {
  display: flex;
  align-items: center;
  justify-content: center; }
.grid_center, .index .contenedor-index .contenedorCard, .contenedor .premios .nacionales, .contenedor .premios .internacionales, .contenedor .premios .individuales {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(4, 1fr); }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
h1, h2, h3, h4 {
  text-align: center; }
.index {
  background-image: url(../img/0.0-fondoIndex.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }
  .index .header__index {
    justify-content: space-between; }
    .index .header__index .imgLogo-index {
      width: 50px;
      position: relative;
      left: 8%;
      padding-top: 4px; }
    .index .header__index h1 {
      font-size: 3rem;
      font-family: "Playfair Display", serif;
      text-align: right;
      padding-right: 20px; }
  .index .contenedor-index {
    width: 100%;
    flex-direction: column; }
    .index .contenedor-index .contenedorCard {
      width: 100%;
      height: 80vh;
      grid-template-columns: repeat(2, 1fr); }
      .index .contenedor-index .contenedorCard .tarjeta {
        width: 80%;
        height: 90%;
        margin: auto;
        position: relative;
        background: rgba(255, 255, 255, 0.363);
        overflow: hidden;
        box-shadow: 2px 4px 10px #000; }
        .index .contenedor-index .contenedorCard .tarjeta img {
          width: 100%;
          height: 240px;
          vertical-align: top;
          opacity: 0; }
        .index .contenedor-index .contenedorCard .tarjeta .over_pic {
          width: 50%;
          height: 50%;
          position: absolute;
          background-size: 200% 200%;
          transition: all 0.7s ease-out;
          z-index: 2; }
          .index .contenedor-index .contenedorCard .tarjeta .over_pic:nth-of-type(1) {
            left: 0;
            top: 0;
            background-position: left top; }
          .index .contenedor-index .contenedorCard .tarjeta .over_pic:nth-of-type(2) {
            right: 0;
            top: 0;
            background-position: right top; }
          .index .contenedor-index .contenedorCard .tarjeta .over_pic:nth-of-type(3) {
            left: 0;
            bottom: 0;
            background-position: left bottom; }
          .index .contenedor-index .contenedorCard .tarjeta .over_pic:nth-of-type(4) {
            right: 0;
            bottom: 0;
            background-position: right bottom; }
        .index .contenedor-index .contenedorCard .tarjeta:hover .over_pic:nth-of-type(1) {
          transform: translate(-100%, -100%); }
        .index .contenedor-index .contenedorCard .tarjeta:hover .over_pic:nth-of-type(2) {
          transform: translate(100%, -100%); }
        .index .contenedor-index .contenedorCard .tarjeta:hover .over_pic:nth-of-type(3) {
          transform: translate(-100%, 100%); }
        .index .contenedor-index .contenedorCard .tarjeta:hover .over_pic:nth-of-type(4) {
          transform: translate(100%, 100%); }
        .index .contenedor-index .contenedorCard .tarjeta .pic1 {
          background-image: url(../img/1.0-comienzos_index.jpg); }
        .index .contenedor-index .contenedorCard .tarjeta .pic2 {
          background-image: url(../img/2.0-club_index.jpg); }
        .index .contenedor-index .contenedorCard .tarjeta .pic3 {
          background-image: url(../img/3.0-seleccion_index.jpg); }
        .index .contenedor-index .contenedorCard .tarjeta .pic4 {
          background-image: url(../img/4.0-palmares_index.jpg); }
        .index .contenedor-index .contenedorCard .tarjeta .descripcion {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          align-content: center;
          flex-wrap: wrap;
          transition: all 0.7s ease-out;
          transform: scale(0.6);
          opacity: 0;
          text-decoration: none;
          color: #000; }
          .index .contenedor-index .contenedorCard .tarjeta .descripcion h2 {
            font-size: 3rem;
            font-family: "Poppins", sans-serif; }
          .index .contenedor-index .contenedorCard .tarjeta .descripcion p {
            font-size: 1.2rem;
            font-family: "Quicksand", sans-serif;
            color: #000;
            text-align: center;
            line-height: 1.3;
            padding: 10px;
            font-weight: bold; }
        .index .contenedor-index .contenedorCard .tarjeta:hover .descripcion {
          opacity: 1;
          transform: scale(1); }
    .index .contenedor-index .btn-index {
      width: 140px;
      height: 30px;
      position: relative;
      display: inline-flex;
      perspective: 1000px; }
      .index .contenedor-index .btn-index a {
        font-size: 1.2rem;
        transform-style: preserve-3d;
        transition: transform 0.25s;
        transform: translateZ(-25px);
        color: transparent; }
        .index .contenedor-index .btn-index a:before, .index .contenedor-index .btn-index a:after {
          width: 140px;
          height: 30px;
          position: absolute;
          content: "Contacto";
          box-sizing: border-box;
          border: 2px solid #000;
          border-radius: 20px; }
        .index .contenedor-index .btn-index a:before {
          color: #fff;
          background: #000;
          transform: rotateY(0) translateZ(15px); }
        .index .contenedor-index .btn-index a:after {
          color: #000;
          transform: rotateX(90deg) translateZ(15px); }
        .index .contenedor-index .btn-index a:hover {
          transform: translateZ(-15px) rotateX(-90deg); }
.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0 15px; }
  .nav-link:hover {
    background-color: #ffffff23; }
.imgLogo {
  width: 45px;
  margin-left: 50px;
  filter: invert(1); }
.contenedor {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between; }
  .contenedor .titulo__principal {
    font-size: 4rem;
    font-family: "Bakbak One", cursive;
    width: 100%;
    margin: 15px 0; }
  .contenedor .cajaSeccion {
    width: 95%;
    margin: 10px auto; }
    .contenedor .cajaSeccion .titulo__contenido {
      font-size: 3rem;
      font-family: "Playfair Display", serif;
      margin-bottom: 20px;
      text-decoration: underline; }
    .contenedor .cajaSeccion .cajaContenido {
      width: 100%; }
      .contenedor .cajaSeccion .cajaContenido .texto__intro {
        font-size: 1.2rem;
        font-family: "Quicksand", sans-serif;
        line-height: 1.3; }
      .contenedor .cajaSeccion .cajaContenido .tituloSeccion {
        font-size: 2rem;
        font-family: "Poppins", sans-serif;
        width: 100%;
        margin: 30px 0; }
      .contenedor .cajaSeccion .cajaContenido .contenedor__texto--derecha,
      .contenedor .cajaSeccion .cajaContenido .contenedor__texto--izquierda {
        flex-flow: row wrap;
        padding: 0 5px; }
        .contenedor .cajaSeccion .cajaContenido .contenedor__texto--derecha .texto__contenido,
        .contenedor .cajaSeccion .cajaContenido .contenedor__texto--izquierda .texto__contenido {
          width: 50%; }
        .contenedor .cajaSeccion .cajaContenido .contenedor__texto--derecha p,
        .contenedor .cajaSeccion .cajaContenido .contenedor__texto--izquierda p {
          font-size: 1.2rem;
          font-family: "Quicksand", sans-serif;
          padding: 5px 10px;
          line-height: 1.3;
          margin: 0 auto; }
          .contenedor .cajaSeccion .cajaContenido .contenedor__texto--derecha p cite,
          .contenedor .cajaSeccion .cajaContenido .contenedor__texto--izquierda p cite {
            color: #464242; }
        .contenedor .cajaSeccion .cajaContenido .contenedor__texto--derecha iframe,
        .contenedor .cajaSeccion .cajaContenido .contenedor__texto--izquierda iframe {
          height: 400px; }
      .contenedor .cajaSeccion .cajaContenido .contenedor__texto--derecha .img__contenido--izquierdo {
        order: -1;
        width: 50%;
        padding: 0 5px; }
      .contenedor .cajaSeccion .cajaContenido .contenedor__texto--izquierda .img__contenido--derecho {
        width: 50%;
        padding: 5px 5px; }
.contenedor .titulo__contenido {
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
  text-decoration: underline; }
.contenedor .premios {
  width: 80%;
  margin: 15px auto; }
  .contenedor .premios .encabezado {
    border: solid 2px #000; }
    .contenedor .premios .encabezado h3 {
      font-size: 1.8rem;
      font-family: "Permanent Marker", cursive;
      margin: 5px;
      font-weight: 600; }
  .contenedor .premios .item {
    border: solid 2px #000; }
    .contenedor .premios .item p {
      font-size: 1.2rem;
      margin: 5px; }
  .contenedor .premios .nacionales .fondoNac {
    background-color: #000080;
    color: #fff; }
  .contenedor .premios .nacionales .equipo {
    grid-column: 2;
    grid-row: 2/27; }
  .contenedor .premios .nacionales .pais {
    grid-column: 3;
    grid-row: 2/27; }
    .contenedor .premios .nacionales .pais .iconoBandera {
      text-align: left;
      width: 20%;
      margin: 5px 10px 5px 25px; }
  .contenedor .premios .internacionales .fondoInter {
    background-color: #ffab4c;
    color: #000; }
  .contenedor .premios .internacionales .equipo {
    grid-column: 2;
    grid-row: 5/14; }
  .contenedor .premios .internacionales .sede {
    display: flex;
    justify-content: flex-start; }
    .contenedor .premios .internacionales .sede .iconoBandera {
      text-align: left;
      width: 20%;
      margin: 5px 10px 5px 25px; }
  .contenedor .premios .individuales {
    grid-template-columns: repeat(2, 1fr); }
    .contenedor .premios .individuales .fondoInd {
      background-color: #b2ea70;
      color: #000; }
    .contenedor .premios .individuales .x2:nth-of-type(3) {
      grid-row: 2/4; }
    .contenedor .premios .individuales .x2:nth-of-type(6) {
      grid-row: 4/6; }
    .contenedor .premios .individuales .x2:nth-of-type(9) {
      grid-row: 6/8; }
    .contenedor .premios .individuales .x2:nth-of-type(12) {
      grid-row: 8/10; }
    .contenedor .premios .individuales .x2:nth-of-type(31) {
      grid-row: 20/22; }
    .contenedor .premios .individuales .x3:nth-of-type(19) {
      grid-row: 12/15; }
    .contenedor .premios .individuales .x3:nth-of-type(27) {
      grid-row: 17/20; }
    .contenedor .premios .individuales .x3:nth-of-type(34) {
      grid-row: 22/25; }
.introForm {
  width: 95%;
  margin: auto; }
  .introForm .txtContacto {
    font-size: 1.2rem;
    font-family: "Quicksand", sans-serif;
    width: 100%;
    padding: 0 5px;
    line-height: 1.3; }
.formContacto {
  width: 70%;
  margin: auto; }
  .formContacto .btn-form {
    width: 30%;
    margin: 10px 0; }
.footer-index p {
  font-size: 1.1rem;
  text-align: center;
  color: #000;
  font-weight: bold; }

.footer {
  background: #000;
  padding: 1px 0; }
  .footer p {
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
    margin: 2px 0; }
@media screen and (max-width: 690px) {
  /*    INDEX    */
  .index .header__index {
    margin-bottom: 10px; }
    .index .header__index .imgLogo-index {
      left: 5%;
      width: 55px; }
    .index .header__index h1 {
      width: 70%;
      font-size: 1.8rem;
      padding-right: 10px; }
  .index .contenedor-index .contenedorCard {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 740px; }
    .index .contenedor-index .contenedorCard .tarjeta {
      width: 100%;
      margin-bottom: 15px;
      min-height: 170px; }
      .index .contenedor-index .contenedorCard .tarjeta .descripcion {
        padding: 0 5px; }
        .index .contenedor-index .contenedorCard .tarjeta .descripcion h2 {
          font-size: 1.5rem;
          margin-top: 5px; }
        .index .contenedor-index .contenedorCard .tarjeta .descripcion p {
          font-size: 1rem;
          line-height: 1.3; }
  .index .contenedor-index .btn-index {
    margin-bottom: 5px; }
  /*    CARRERA     */
  .contenedor .titulo__principal {
    font-size: 3rem; }
  .contenedor .titulo__contenido {
    font-size: 2rem; }
  .contenedor .cajaSeccion .cajaContenido .contenedor__texto--derecha iframe,
  .contenedor .cajaSeccion .cajaContenido .contenedor__texto--izquierda iframe {
    height: 300px; }
  /*    PALMARES      */
  .contenedor .premios {
    width: 100%;
    padding: 0 10px; }
    .contenedor .premios .encabezado h3 {
      font-size: 1.3rem; }
    .contenedor .premios .item {
      flex-direction: column; }
      .contenedor .premios .item p {
        font-size: 1rem;
        margin: 0; }
    .contenedor .premios .nacionales .pais {
      display: flex;
      flex-direction: column; }
      .contenedor .premios .nacionales .pais .iconoBandera {
        width: 40%;
        margin: 10px auto; }
    .contenedor .premios .internacionales .sede {
      display: flex;
      flex-direction: column; }
      .contenedor .premios .internacionales .sede .iconoBandera {
        width: 40%;
        margin: 10px auto; }
  /*    CONTACTO      */
  .formContacto {
    width: 90%; }
    .formContacto .btn-form {
      width: 70%; } }
@media screen and (max-width: 1024px) {
  /*    CARRERA     */
  .imgLogo {
    margin-left: 25px; }
  .contenedor .titulo__principal {
    font-size: 3rem; }
  .contenedor .cajaSeccion {
    margin: 5px auto; }
    .contenedor .cajaSeccion .titulo__contenido {
      font-size: 1.8rem;
      margin-bottom: 10px; }
    .contenedor .cajaSeccion .cajaContenido .tituloSeccion {
      font-size: 1.4rem;
      margin: 25px 0 10px 0; }
    .contenedor .cajaSeccion .cajaContenido .texto__intro {
      width: 90%;
      margin: 10px auto; }
    .contenedor .cajaSeccion .cajaContenido .contenedor__texto--derecha {
      flex-direction: column; }
      .contenedor .cajaSeccion .cajaContenido .contenedor__texto--derecha .texto__contenido {
        width: 100%;
        padding: 0; }
      .contenedor .cajaSeccion .cajaContenido .contenedor__texto--derecha p {
        width: 95%; }
      .contenedor .cajaSeccion .cajaContenido .contenedor__texto--derecha .img__contenido--izquierdo {
        order: 0;
        width: 90%; }
    .contenedor .cajaSeccion .cajaContenido .contenedor__texto--izquierda {
      flex-direction: column; }
      .contenedor .cajaSeccion .cajaContenido .contenedor__texto--izquierda .texto__contenido {
        width: 100%;
        padding: 0; }
      .contenedor .cajaSeccion .cajaContenido .contenedor__texto--izquierda p {
        width: 95%; }
      .contenedor .cajaSeccion .cajaContenido .contenedor__texto--izquierda .img__contenido--derecho {
        width: 90%; } }
