//  Header
.nav-link {
  font-size: $contenido;
  font-weight: 400;
  margin: 0 15px;
  &:hover {
    background-color: #ffffff23;
  }
}
.imgLogo {
  width: 45px;
  margin-left: 50px;
  filter: invert(1);
}
// Cuerpo de la web
.contenedor {
  @extend .flex_aCenter;
  width: $widthTotal;
  flex-wrap: wrap;
  justify-content: space-between;
  .titulo__principal {
    font-size: $principal;
    font-family: $tituloPrincipal;
    width: $widthTotal;
    margin: 15px 0;
  }
  .cajaSeccion {
    width: $widthTotal * 0.95;
    margin: 10px auto;
    .titulo__contenido {
      font-size: $secundario;
      font-family: $tituloContenido;
      margin-bottom: 20px;
      text-decoration: underline;
    }
    .cajaContenido {
      width: $widthTotal;
      .texto__intro {
        font-size: $contenido;
        font-family: $textos;
        line-height: $interlineado;
      }
      .tituloSeccion {
        font-size: $titSeccion;
        font-family: $tituloSeccion;
        width: $widthTotal;
        margin: 30px 0;
      }
      .contenedor__texto--derecha,
      .contenedor__texto--izquierda {
        @extend .flex_aCenter;
        flex-flow: row wrap;
        padding: 0 5px;
        .texto__contenido {
          width: $widthTotal * 0.5;
        }
        p {
          font-size: $contenido;
          font-family: $textos;
          padding: 5px 10px;
          line-height: $interlineado;
          margin: 0 auto;
          cite {
            color: rgb(70, 66, 66);
          }
        }
        iframe {
          height: 400px;
        }
      }
      .contenedor__texto--derecha {
        .img__contenido--izquierdo {
          order: -1;
          width:$widthTotal * 0.5;
          padding: 0 5px;
        }
      }
      .contenedor__texto--izquierda {
        .img__contenido--derecho {
          width:$widthTotal * 0.5;
          padding: 5px 5px;
        }
      }
    }
  }
}
