/*Header*/
.banderaHeader {
  background: $banderaArgentina;
  .navbar-toggler {
    border-color: $black;
    .navbar-toggler-icon {
      filter: invert(1);
    }
  }
  .collapse {
    .navbar-nav {
      .nav-link {
        width: 130px;
        font-size: $contenido;
        font-weight: 600;
        &:hover {
          background-color: #68696931;
          border-radius: 5px;
        }
      }
      .active {
        background-color: #0a9dce4b;
        border: 1px solid rgba(0, 0, 0, 0.144);
        border-radius: 5px;
      }
    }
  }
  .imgLogo {
    width: 45px;
    margin-left: 50px;
  }
}
/* Cuerpo de la web */
.contenedor {
  @extend .flex_aCenter;
  width: $widthTotal;
  flex-wrap: wrap;
  justify-content: space-between;
  .titulo__principal {
    @extend .titulo_principal;
  }
  .cajaSeccion {
    width: $widthTotal * 0.95;
    margin: 10px auto;
    .titulo__contenido {
      font-size: $secundario;
      font-family: $tituloContenido;
      margin-bottom: 20px;
      text-decoration: underline;
    }
    .cajaContenido {
      width: $widthTotal;
      .texto__intro {
        @extend .textos;
      }
      .tituloSeccion {
        font-size: $titSeccion + 0.3;
        font-family: $tituloSeccion;
        width: $widthTotal;
        margin: 30px 0;
      }
      .contenedor__texto--derecha,
      .contenedor__texto--izquierda {
        @extend .flex_aCenter;
        flex-flow: row wrap;
        padding: 0 5px;
        .texto__contenido {
          width: $widthTotal * 0.5;
        }
        p {
          @extend .textos;
          cite {
            color: rgb(95, 92, 92);
          }
        }
        img {
          margin: 10px 0;
        }
        iframe {
          margin: 10px 0;
          height: 400px;
        }
      }
      .contenedor__texto--derecha {
        .img__contenido--izquierdo {
          order: -1;
          width: $widthTotal * 0.5;
          padding: 0 5px;
        }
      }
      .contenedor__texto--izquierda {
        .img__contenido--derecho {
          width: $widthTotal * 0.5;
          padding: 5px 5px;
        }
      }
    }
  }
}
