/* Contacto */
.introForm {
  width: $widthTotal * 0.95;
  margin: auto;
  .txtContacto {
    font-size: $contenido;
    font-family: $textos;
    width: $widthTotal;
    padding: 0 5px;
    line-height: $interlineado;
  }
}
.formContacto {
  width: $widthTotal * 0.7;
  margin: auto;
  .btn-form {
    width: $widthTotal * 0.3;
    margin: 10px 0;
  }
}
