// Footer index
.footer-index {
  p {
    font-size: $contenido - 0.1rem;
    text-align: center;
    color: $black;
    font-weight: bold;
  }
}
// Footer resto de la web
.footer {
  background: $black;
  padding: 1px 0;
  p {
    font-size: $contenido;
    text-align: center;
    color: $white;
    margin: 2px 0;
  }
}
