* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  text-align: center;
}

// Variables Fonts
$tituloPrincipal: "Roboto", sans-serif;
$tituloContenido: "Roboto Mono", monospace;
$tituloSeccion: "Noto Serif", serif;
$tituloPalmares: "Prompt", sans-serif;
$textos: "Nunito", sans-serif;
