// Body
.index {
  background-image: url(../img/0.0-fondoIndex.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // Header
  .header__index {
    @extend .flex_aCenter;
    justify-content: space-between;
    .imgLogo-index {
      width: 50px;
      position: relative;
      left: 8%;
      padding-top: 4px;
    }
    h1 {
      font-size: $secundario;
      font-family: $tituloContenido;
      text-align: right;
      padding-right: 20px;
    }
  }
  //  Cuerpo de la web
  .contenedor-index {
    @extend .flex_aCenter;
    width: $widthTotal;
    flex-direction: column;
    .contenedorCard {
      @extend .grid_center;
      @include sizes($widthTotal,80vh);
      grid-template-columns: repeat(2, 1fr);
      // Card
      .tarjeta {
        @include sizes(($widthTotal*0.8),90%);
        margin: auto;
        position: relative;
        background: rgba(255, 255, 255, 0.363);
        overflow: hidden;
        box-shadow: 2px 4px 10px #000;
        img {
          @include sizes($widthTotal,240px);
          vertical-align: top;
          opacity: 0;
        }
        //  Efectos card
        .over_pic {
          @include sizes(($widthTotal/2),50%);
          position: absolute;
          background-size: 200% 200%;
          transition: all 0.7s ease-out;
          z-index: 2;
          &:nth-of-type(1) {
            left: 0;
            top: 0;
            background-position: left top;
          }
          &:nth-of-type(2) {
            right: 0;
            top: 0;
            background-position: right top;
          }
          &:nth-of-type(3) {
            left: 0;
            bottom: 0;
            background-position: left bottom;
          }
          &:nth-of-type(4) {
            right: 0;
            bottom: 0;
            background-position: right bottom;
          }
        }
        &:hover {
          .over_pic {
            &:nth-of-type(1) {
              transform: translate(-100%, -100%);
            }
            &:nth-of-type(2) {
              transform: translate(100%, -100%);
            }
            &:nth-of-type(3) {
              transform: translate(-100%, 100%);
            }
            &:nth-of-type(4) {
              transform: translate(100%, 100%);
            }
          }
        }
        .pic1 {
          background-image: url(../img/1.0-comienzos_index.jpg);
        }
        .pic2 {
          background-image: url(../img/2.0-club_index.jpg);
        }
        .pic3 {
          background-image: url(../img/3.0-seleccion_index.jpg);
        }
        .pic4 {
          background-image: url(../img/4.0-palmares_index.jpg);
        }
        .descripcion {
          @extend .flex_aCenter;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          align-content: center;
          flex-wrap: wrap;
          transition: all 0.7s ease-out;
          transform: scale(0.6);
          opacity: 0;
          text-decoration: none;
          color: $black;

          h2 {
            font-size: $secundario;
            font-family: $tituloSeccion;
          }
          p {
            font-size: $contenido;
            font-family: $textos;
            color: $black;
            text-align: center;
            line-height: $interlineado;
            padding: 10px;
            font-weight: bold;
          }
        }
        &:hover .descripcion {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
    // Botón
    .btn-index {
      @include sizes(140px,30px);
      position: relative;
      display: inline-flex;
      perspective: 1000px;
      a {
        font-size: $contenido;
        transform-style: preserve-3d;
        transition: transform 0.25s;
        transform: translateZ(-25px);
        &:before,
        &:after {
          @extend .flex_aCenter;
          @include sizes(140px,30px);
          position: absolute;
          content: "Contacto";
          box-sizing: border-box;
          border: 2px solid #000;
          border-radius: 20px;
        }
        &:before {
          color: $white;
          background: $black;
          transform: rotateY(0) translateZ(15px);
        }
        &:after {
          color: $black;
          transform: rotateX(90deg) translateZ(15px);
        }
        &:hover {
          transform: translateZ(-15px) rotateX(-90deg);
        }
      }
    }
  }
}
