@media screen and (max-width: 690px) {
  /*    INDEX    */
  .index {
    height: 100%;
    /* Header Index*/
    .header__index {
      margin-bottom: 10px;
      .imgLogo-index {
        left: 5%;
        width: 55px;
      }
      h1 {
        width: $widthTotal * 0.7;
        font-size: $principal * 0.45;
        padding-right: 10px;
      }
    }
    /* Cuerpo Index */
    main {
      .contenedor-index {
        .contenedorCard {
          @include column;
          width: $widthTotal * 0.9;
          height: 100%;
          .tarjeta {
            width: $widthTotal;
            margin-bottom: 15px;
            min-height: 170px;
            h2 {
              width: 100%;
              font-size: 1.5rem;
            }
            .descripcion {
              padding: 0 5px;

              h3 {
                font-size: $secundario - 1.5;
                margin-top: 5px;
              }
              p {
                font-size: $contenido - 0.2;
                line-height: $interlineado;
              }
            }
          }
        }
        /* Botón Index*/
        .btn-index {
          margin-bottom: 5px;
        }
      }
    }
  }
  /*    CARRERA     */
  /* Header*/
  .collapse {
    .navbar-nav {
      .nav-link {
        margin: auto;
      }
    }
  }
  .banderaHeader {
    .imgLogo {
      width: 50px;
      margin-left: 10px;
    }
  }
  /* Cuerpo de la web*/
  .contenedor {
    .cajaSeccion {
      .cajaContenido {
        .texto__intro {
          font-size: $contenido;
          width: $widthTotal * 0.95;
        }
        .contenedor__texto--derecha,
        .contenedor__texto--izquierda {
          flex-direction: column;
          .texto__contenido {
            width: $widthTotal;
            padding: 0;
          }
          p {
            font-size: $contenido;
            width: $widthTotal * 0.95;
          }
        }
        .contenedor__texto--derecha {
          .img__contenido--izquierdo {
            order: 0;
            width: $widthTotal * 0.9;
            padding: 10px 0;
          }
        }
        .contenedor__texto--izquierda {
          .img__contenido--derecho {
            width: $widthTotal * 0.9;
            padding: 10px 0;
          }
        }
      }
    }
  }
  /*    PALMARES      */
  /* Estructura grid */
  .contenedor {
    .premios {
      padding: 0 10px;
      /* Encabezado Grid */
      .encabezado h3 {
        font-size: $titPalmares - 0.5;
      }
      /* Tablas Grid*/
      .item {
        flex-direction: column;
        p {
          font-size: $contenido - 0.2;
          margin: 0;
        }
      }
      /* Iconos palmarés*/
      .nacionales {
        .pais {
          @include column;
          .iconoBandera {
            @include banderasMq;
          }
        }
      }
      .internacionales {
        .sede {
          @include column;
          .iconoBandera {
            @include banderasMq;
          }
        }
      }
    }
  }
  /*  CONTACTO   */
  .contacto {
    main {
      .contenedorContacto {
        height: 100%;
        .formContacto {
          width: $widthTotal * 0.9;
          .btn-form {
            width: $widthTotal * 0.7;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 691px) and (max-width: 991px) {
  /*    INDEX    */
  .index {
    /* Header Index*/
    .header__index {
      .imgLogo-index {
        width: 70px;
      }
      h1 {
        font-size: $principal;
        padding-right: 10px;
      }
    }

    /* Cuerpo Index */
    main {
      .contenedor-index {
        .contenedorCard {
          height: 90%;
          .tarjeta {
            width: $widthTotal * 0.95;
            height: 85%;
            h2 {
              width: 100%;
              font-size: $secundario;
            }
            .descripcion {
              padding: 0 5px;

              h3 {
                font-size: $secundario;
              }
              p {
                font-size: $contenido + 0.3;
                line-height: $interlineado;
              }
            }
          }
        }
      }
    }
    /* Footer index */
    .footer-index {
      p {
        font-size: $contenido + 0.2;
      }
    }
  }
  /*    CARRERA     */
  /* Header*/
  .header {
    .navbar {
      .navbar-toggler {
        font-size: $contenido + 1;
      }
      .collapse {
        .navbar-nav {
          .nav-link {
            width: 100%;
            margin: auto;
            font-size: $contenido + 1;
          }
        }
      }
      .imgLogo {
        width: 75px;
        margin-left: 20px;
      }
    }
  }
  /* Contenido */
  .contenedor {
    .cajaSeccion {
      .cajaContenido {
        .contenedor__texto--derecha,
        .contenedor__texto--izquierda {
          flex-direction: column;
          .texto__contenido {
            width: $widthTotal;
          }
        }
        .contenedor__texto--derecha {
          .img__contenido--izquierdo {
            order: 0;
            width: $widthTotal * 0.95;
            padding: 10px 0;
          }
        }
        .contenedor__texto--izquierda {
          .img__contenido--derecho {
            width: $widthTotal * 0.95;
            padding: 10px 0;
          }
        }
      }
    }
  }

  /*    PALMARES      */
  /* Estructura grid */
  .contenedor {
    .premios {
      width: $widthTotal * 0.9;
      .nacionales {
        .pais {
          @include column;
          .iconoBandera {
            @include banderasMq;
          }
        }
      }
      .internacionales {
        .sede {
          @include column;
          .iconoBandera {
            @include banderasMq;
          }
        }
      }
    }
  }

  /*  CONTACTO   */
  .contacto {
    main {
      min-height: 100%;
      .contenedorContacto {
        height: 90%;
        .introForm {
          .txtContacto {
            font-size: $contenido + 0.2;
            padding: 50px 0;
          }
        }
        .formContacto {
          width: $widthTotal * 0.9;
          padding-top: 70px;

          label,
          input,
          select,
          textarea,
          button {
            font-size: $contenido + 0.2;
          }
          .btn-form {
            width: $widthTotal * 0.7;
          }
        }
      }
    }
  }
  .footer {
    p {
      font-size: $contenido + 0.2;
    }
  }
}

@media screen and (min-width: 992px) {
  /*  CONTACTO   */
  .contacto {
    main {
      min-height: 100%;
      .contenedorContacto {
        .introForm {
          .txtContacto {
            font-size: $contenido + 0.2;
            padding: 50px 0;
          }
        }
        .formContacto {
          width: $widthTotal * 0.9;
          padding-top: 50px;

          label,
          input,
          select,
          textarea,
          button {
            font-size: $contenido + 0.2;
          }
          .btn-form {
            width: $widthTotal * 0.7;
          }
        }
      }
    }
  }
}
