@media screen and (max-width: 690px) {
  /*    INDEX    */
  .index {
    // Header
    .header__index {
      margin-bottom: 10px;
      .imgLogo-index {
        left: 5%;
        width: 55px;
      }
      h1 {
        width: $widthTotal * 0.7;
        font-size: $principal * 0.45;
        padding-right: 10px;
      }
    }
    // Cuerpo de la web
    .contenedor-index {
      .contenedorCard {
        @include column;
        width: $widthTotal * 0.9;
        min-height: 740px;
        .tarjeta {
          width: $widthTotal;
          margin-bottom: 15px;
          min-height: 170px;
          .descripcion {
            padding: 0 5px;

            h2 {
              font-size: $secundario - 1.5;
              margin-top: 5px;
            }
            p {
              font-size: $contenido - 0.2;
              line-height: $interlineado;
            }
          }
        }
      }
      // Botón
      .btn-index {
        margin-bottom: 5px;
      }
    }
  }
  /*    CARRERA     */
  .collapse {
    .navbar-nav {
      .nav-link {
        margin: auto;
      }
    }
  }
  .bandera {
    .imgLogo {
      width: 50px;
      margin-left: 10px;
    }
  }
  .contenedor {
    .titulo__principal {
      font-size: $principal - 1;
    }
    .titulo__contenido {
      font-size: $secundario - 1;
    }
    .cajaSeccion {
      .cajaContenido {
        .contenedor__texto--derecha,
        .contenedor__texto--izquierda {
          iframe {
            height: 300px;
          }
        }
      }
    }
  }
  /*    PALMARES      */
  // Estructura grid
  .contenedor {
    .premios {
      width: $widthTotal;
      padding: 0 10px;
      // Encabezado Grid
      .encabezado h3 {
        font-size: $titPalmares - 0.5;
      }
      .item {
        flex-direction: column;
        p {
          font-size: $contenido - 0.2;
          margin: 0;
        }
      }
      .nacionales {
        .pais {
          @include column;
          .iconoBandera {
            @include banderasMq;
          }
        }
      }
      .internacionales {
        .sede {
          @include column;
          .iconoBandera {
            @include banderasMq;
          }
        }
      }
    }
  }
  /*    CONTACTO      */
  .formContacto {
    width: $widthTotal * 0.9;
    .btn-form {
      width: $widthTotal * 0.7;
    }
  }
}
@media screen and (max-width: 1024px) {
  /*    CARRERA     */
  // Contenido
  .contenedor {
    .titulo__principal {
      font-size: $principal - 1;
    }
    .cajaSeccion {
      margin: 5px auto;
      .titulo__contenido {
        font-size: $secundario * 0.6;
        margin-bottom: 10px;
      }
      .cajaContenido {
        .tituloSeccion {
          font-size: $titSeccion * 0.7;
          margin: 25px 0 10px 0;
        }
        .texto__intro {
          width: $widthTotal - 10;
          margin: 10px auto;
        }
        .contenedor__texto--derecha {
          flex-direction: column;
          .texto__contenido {
            width: $widthTotal;
            padding: 0;
          }
          p {
            width: $widthTotal * 0.95;
          }
          .img__contenido--izquierdo {
            order: 0;
            width: $widthTotal * 0.9;
          }
        }
        .contenedor__texto--izquierda {
          flex-direction: column;
          .texto__contenido {
            width: $widthTotal;
            padding: 0;
          }
          p {
            width: $widthTotal * 0.95;
          }
          .img__contenido--derecho {
            width: $widthTotal * 0.9;
          }
        }
      }
    }
  }
}
