// Tipos Fonts
$tituloPrincipal: "Roboto", sans-serif; //Titulo principal de cada página
$tituloContenido: "Roboto Mono", monospace; //Subtítulo dentro de la carrera, divide secciones
$tituloSeccion: "Noto Serif", serif; //Título de cada sección
$tituloPalmares: "Prompt", sans-serif; //títulos tablas dentro de palmares
$textos: "Nunito", sans-serif; //Textos dentro del sitio

// Tamaño Fonts
$principal: 4rem; //Titulo principal de cada página
$secundario: $principal - 1; //Título index y subtítulo dentro de la carrera, divide secciones
$titSeccion: $principal / 2; //Título de cada sección
$titPalmares: $principal * 0.45; //títulos tablas dentro de palmares
$contenido: $principal * 0.3; //Textos dentro del sitio

// Interlineado
$interlineado: 1.3;

// Colores
$black: #000; //Colores generales, usados en bg o color de letra como constraste.
$white: #fff; //Colores generales, usados en bg o color de letra como constraste.
$tableNacional: #000080; //Encabezado tabla de Palmares
$tableInternacional: #ffab4c; //Encabezado tabla de Palmares
$tableIndividual: #b2ea70; //Encabezado tabla de Palmares

// Size
$widthTotal: 100%